.Home {
    text-align: center;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Home-link {
    color: #61dafb;
  }
  
  .main-nav{
    background-color: #cca881;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
    margin-top: 175px;
    width: 100%;
  }
  
  .nav-text {
    color: #614928;
    font-size: 18px;
    font-weight: 700;
    margin-left: 300px;
    width: auto;
    background-color: #cca881;
  }
  
  .nav-text:hover {
    filter: drop-shadow(0 0 2em #614928);
    border: #cca881;
  }
  
  .nav-separator {
    color: #614928;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  }
  
  .nav-icons {
    margin-right: 100px;
    display: flex; 
    align-items: center;
  }
  
  .nav-logo {
    margin-right: 20px;
    height: 25px;
    width: auto;
  }
  
  .nav-logo-tw{
    margin-right: 20px;
    height: 40px;
    width: auto;
  }
  .ciudades {
    display: inline;
    width: 100vw;
    height: auto;
  }
  
  .ciudades-img{
    display: inline;
    width: 450px;
    border-radius: 20px;
    height: auto;
    margin: 30px;
  }
  
  .ciudades-title {
    font-size: 32px;
    margin-right: 75%;
    color: #614928;
  }
  
  .spacer {
    height: 250px;
  }
  
  
  .img-post{
    width: 450px;
    border-radius: 20px;
    height: auto;
    margin: 30px;
  }
  